<div class="all bg">

<h1 class="sk text-center">Personal Projects <h4><a target="_blank" href="https://github.com/shubhammohite"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4></h1>
<div class="row p-5">
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>ChangeDetectionMechanism</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/shubhammohite/ChangeDetectionMechanism"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a>
                   </h4>
                </div>
            </div>
            <li>
              Angular , Typescript , Javascript , HTML/CSS
            </li>
            <p>Angular framework — Change Detection Mechanism.
              Angular uses Change Detection Mechanism to update the DOM whenever application state changes.</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>BackgroundColor-Change-Application</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/shubhammohite/BackgroundColor-Change-Application"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
              Angular , Typescript , Javascript , HTML/CSS
            </li>
            <p>Implement a application , If user click on any color button the background color will be change as per button value</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>Chakra-UI-LandingPage</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/shubhammohite/Chakra-UI-LandingPage"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
                React , Typescript ,Javascript
            </li>
            <p>It is a free roam game built as a part of learning and implementing the metaverse concepts. In this the player can roam around in the virtual world with the keyboard</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>AIG Application</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/shubhammohite/Application-AIG-"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
             Angular,Typescript,Javascript,Html/Css,JSON Server
            </li>
            <p>This Angular-based application enables seamless CRUD operations for managing AIG records. It offers an intuitive interface to create, view, update, and delete data efficiently.</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>Github-Profile Search</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/shubhammohite/Github-Profile"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
               Javascript, HTML/CSS
            </li>
            <p>GitHub Profile Search is application that allows users to search and view GitHub profiles in real-time. It fetches and displays user details, repositories, followers, and more using the GitHub API.</p>
        </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card">
          <div class="row">
              <div class="col-10">
                  <h4>Apna Bajar-ECommerce Application</h4>
              </div>
              <div class="col-2">
                 <h4><a target="_blank" href="https://github.com/shubhammohite/APNA-BAJAR-Ecommerce-Application-"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
              </div>
          </div>
          <li>
             Angular,Typescript,Javascript,Html/Css
          </li>
          <p>Apna Bajar is a feature-rich e-commerce application built with Angular, offering users a smooth shopping experience. It includes product listings, cart management, order processing, and responsive UI</p>
      </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card">
        <div class="row">
            <div class="col-10">
                <h4>Random Jokes Generator</h4>
            </div>
            <div class="col-2">
               <h4><a target="_blank" href="https://github.com/shubhammohite/Jokes.com"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
            </div>
        </div>
        <li>
        Javascript,Html/Css
        </li>
        <p>We can generate a Random Jokes</p>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card">
        <div class="row">
            <div class="col-10">
                <h4>Spliting Landing Page</h4>
            </div>
            <div class="col-2">
               <h4><a target="_blank" href="https://github.com/shubhammohite/SplitLandingPage"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
            </div>
        </div>
        <li>
        Javascript,Html/Css
        </li>
        <p>Implement a Split Landing page in two sides left and right</p>
    </div>
  </div>
</div>
</div>
