<div class="all">

<h1 class="sk text-center">Personal Projects</h1>
<div class="row p-5">
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>Alumni Forum</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/sanjaykrishna1203/AlumniForum"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a>&nbsp;<a target="_blank" href="https://www.youtube.com/watch?v=G_4o28zz0Bo"> <i style="text-align: right;cursor: pointer;" class="fa-brands fa-youtube"></i></a></h4>
                </div>
            </div>
            <li>
                .NET, C#, Angular.js
            </li>
            <p>Alumni Forum Made as a part of a hackathon for Sathyabama institute of science and technology, Chennai. This project was awarded second place in the hackathon.</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>FinTracker - Personal Finance Manager</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/sanjaykrishna1203/FinTracker"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
                .NET, C#, Angular.js
            </li>
            <p>FinTracker is a Personal Finance and Debt management application which can be used for tracking daily expenses as well as track your EMIs and manage the loans effectively.</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>Three Js Free Roam Game</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/Worktez/Workverse"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a>&nbsp;<a target="_blank" href="https://youtu.be/fkZUz6KlopY"> <i style="text-align: right;cursor: pointer;" class="fa-brands fa-youtube"></i></a></h4>
                </div>
            </div>
            <li>
                Angular, ThreeJs, Blender
            </li>
            <p>It is a free roam game built as a part of learning and implementing the metaverse concepts. In this the player can roam around in the virtual world with the keyboard</p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>Feedback Flux</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/sanjaykrishna1203/FeedbackFlux"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a>&nbsp;<a target="_blank" href="https://www.youtube.com/watch?v=TptmB5Ue8fg"> <i style="text-align: right;cursor: pointer;" class="fa-brands fa-youtube"></i></a></h4>
                </div>
            </div>
            <li>
                Firebase, Angular, Firestore, Firebase Functions
            </li>
            <p>Feedback Flux is a customer feedback management system with sentiment analysis, It has dynamic form and QR code generation built with latest technologies like Firebase and Angular. </p>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="row">
                <div class="col-10">
                    <h4>Snake Game</h4>
                </div>
                <div class="col-2">
                   <h4><a target="_blank" href="https://github.com/sanjaykrishna1203/SnakeGame"><i style="text-align: right;cursor: pointer;" class="fa-brands fa-github"></i></a></h4>
                </div>
            </div>
            <li>
                Asp.Net, Windows Forms
            </li>
            <p>It is a simple snake game built with windows forms on asp.net, It is a classic snake game where the snake easts food to grow and score points. </p>
        </div>
    </div>
</div>
</div>
