<main class="bg">
    <h1 class="sk text-center">Education</h1><br>
    <div class="center">
        <div class="row px-5 ">
            <div class="col-md-6 p-2 mb-4">
                <div class="timeline">
                    <div class="tl-content tl-content">
                        <div class="tl-header">
                            <span class="tl-marker"></span>
                            <p class="tl-title">
                                Bachelor of Engineering in Computer Science
                            <p>
                                <time class="tl-time" datetime="11-11-2020">
                                    2017-2020
                                </time>
                        </div>
                        <div class="tl-body">
                            <p>
                                Zeal Colleage of Engineering and Research Center Narhe , Pune

                            </p>
                        </div>
                    </div>
                    <div class="tl-content tl-content">
                      <div class="tl-header">
                          <span class="tl-marker"></span>
                          <p class="tl-title">
                              Diploma in Computer Engineering
                          <p>
                              <time class="tl-time" datetime="11-11-2020">
                                  2014-2017
                              </time>
                      </div>
                      <div class="tl-body">
                          <p>
                              Zeal Colleage of Engineering and Research Center Narhe , Pune

                          </p>
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center pb-5">Certifications</h3>
                <ul class="center">
                    <li>Angular Testing Master Class (Angular 16) - Udemy</li>
                    <li>Angular NodeJS - The MEAN Stack Guide [2023 Edition]- Udemy</li>
                    <li>Microsoft Azure Application - GreatLearning</li>
                    <li>PwC Switzerland - Power BI Job Simulation</li>
                    <li>HTML - Sololearn</li>
                    <li>CSS - Sololearn</li>
                </ul>
            </div>
        </div>
    </div>

</main>