<div class="row flex-column-reverse flex-md-row" >
    <div class="col-lg-6" style="z-index: 9998;">
        <div class="center" style="padding-top: 50px;">
            <p> Hello, It's Me <br><br><span style="font-size: 5rem;" class="sm">Shubham Suresh Mohite</span> <br><br>
                Passionate Full-Stack Developer <br>
                 with a love for Learning, Problem-solving, and <br> crafting elegant code
            </p>
        </div>
    </div>
    <div class="col-lg-6 text-center p-5 centerd">
        <img src="../../../assets/shubham.jpg" style="padding-top:-90px;height: 70%;width:100%;">
    </div>
</div>

<!-- <div class="container">
    <div class="center bg">
      <div class="main-content" style="padding-top:520px;">
        <span style="font-size: 1.2rem;">Hello, It's Me!</span><br>
        <span style="font-size: 1.2rem;"> <h3>Passionate Full-Stack Developer</h3></span>
      </div>

    </div>
</div> -->
