<h1 class="sk text-center">Contact</h1>

<div class="row center">
    <div class="center">

        <div class="card center">
            <a style="text-decoration: none;" href="https://www.facebook.com/sanjaykrishna1203/">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-solid fa-location-dot fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important" class="col-11 text-center">
                        Chennai, India
                    </div>
                </div>

            </a>
        </div>

        <div class="card center">
            <a style="text-decoration: none;" href="mailto:sanjaykrishna1203@gmail.com">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-solid fa-envelope fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important;" class="col-11 text-center">
                         sanjaykrishna1203@gmail.com
                    </div>
                </div>

            </a>
        </div>

        <div class="card center">
            <a style="text-decoration: none;" href="https://www.linkedin.com/in/sanjaykrishna1203/">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-brands fa-linkedin fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important" class="col-11 text-center">
                        Linkedin
                    </div>
                </div>

            </a>
        </div>

        <div class="card center">
            <a style="text-decoration: none;" href="https://github.com/sanjaykrishna1203">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-brands fa-github fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important" class="col-11 text-center">
                        Github
                    </div>
                </div>

            </a>
        </div>

        <div class="card center">
            <a style="text-decoration: none;" href="https://www.instagram.com/sanjaykrishna1203/">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-brands fa-instagram fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important" class="col-11 text-center">
                        Instagram
                    </div>
                </div>

            </a>
        </div>

        <div class="card center">
            <a style="text-decoration: none;" href="https://leetcode.com/sanjaykrishna1203/">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-solid fa-terminal fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important" class="col-11 text-center">
                        Leetcode
                    </div>
                </div>

            </a>
        </div>

        <div class="card center">
            <a style="text-decoration: none;" href="https://www.facebook.com/sanjaykrishna1203/">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-brands fa-facebook fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important" class="col-11 text-center">
                        Facebook
                    </div>
                </div>

            </a>
        </div>

        <div class="card center">
            <a style="text-decoration: none;" href="https://www.youtube.com/channel/UCwJbR-tdoco2lDciUOCTqnQ">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-brands fa-youtube fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important" class="col-11 text-center">
                        Youtube
                    </div>
                </div>

            </a>
        </div>

    </div>

</div>