<div class="px-5 bg">
    <h1 class="text-center sk">About</h1><br><br>
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-lg-6 pb-4">
            <p style="font-size: 20px;"><span class="sk" style="font-size: 40px;">Hello,</span> <br>
              A skilled Angular Developer with 4.5 years of experience building web applications. Proficient in Angular and .NET,
              with strong knowledge in creating user-friendly interfaces, connecting front-end and back-end systems, and optimizing
              applications for speed and scalability. Works well with teams to develop secure, high-quality code and contribute to
              innovative projects.A skilled Angular Developer with 4.5 years of experience building web applications. Proficient in Angular and .NET,
              with strong knowledge in creating user-friendly interfaces, connecting front-end and back-end systems, and optimizing
              applications for speed and scalability. Works well with teams to develop secure, high-quality code and contribute to
              innovative projects.
            </p><br>
            <a type="button" href="https://drive.google.com/file/d/1lCwQuLi0Dt0xYX7SPBB-Tt36oijGccTT/view?usp=drive_link" target="_blank"
                class="btn btn-outline-light dwnldBtn">Download CV &nbsp;<span
                    class="material-symbols-outlined download">
                    download
                </span></a>
            </div>
        <div class="col-lg-6 pb-4">
            <div class="image-cropper">
                <img class="image" src="../../../assets/image_!.jpg"  alt="">
            </div>
        </div>
    </div>
</div>