<div class="px-5">
    <h1 class="text-center sk">About</h1><br><br>
    <div class="row flex-column-reverse flex-sm-row">
        <div class="col-md-6 pb-4">
            <h1>Hello, I am <span class="sk">Sanjay Krishna, </span></h1><br>
            <p style="font-size: 20px;">A Final year Computer Science Engineering student currently pursuing my
                degree at Sathyabama
                Institute of Science and Technology, Chennai. I'm passionate about problem-solving and have a strong
                background in full-stack development, with experience working with multiple programming languages
                and frameworks. I've also had the opportunity to contribute to a few open-source organizations,
                which has helped me hone my technical skills and learn from some of the best in the industry. I'm
                excited about the opportunities ahead of me and look forward to continuing to grow and make a
                difference in the tech world.
            </p><br>
            <a type="button" href="https://sanjaykrishna1203.github.io/Resume/" target="_blank"
                class="btn btn-outline-light dwnldBtn">Download CV &nbsp;<span
                    class="material-symbols-outlined download">
                    download
                </span></a>
            </div>
        <div class="col-md-6 pb-4">
            <img class="image" src="../../../assets/image.png"  alt="">
        </div>
    </div>
</div>