
<div class="bg">

<h1 class="sk text-center">Work Experience</h1><br>
<div class="center">

<div class="timeline center">
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Software Developer Intern 
            <p>
                <time class="tl-time" datetime="2023-06-20">
                    June 2023 - Present | Mumbai, Maharashtra | Remote
                </time>
        </div>
        <div class="tl-body">
            <p>
                Arcon Tech Solutions

            </p>
        </div>
    </div>
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Software Developer / Open Source Contributor
            <p>
                <time class="tl-time" datetime="2023-06-18">
                    Jan 2022 - Present
                </time>
        </div>
        <div class="tl-body">
            <p>
                Worktez, Fossology and other open source organizationss
            </p>
        </div>
    </div>
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Web Developement Intern
            <p>
                <time class="tl-time" datetime="2023-06-18">
                    Jan 2022 - Dec 2022 | Remote
                </time>
        </div>
        <div class="tl-body">
            <p>
               Global Child Prodigy Awards Initative
            </p>
        </div>
    </div>
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Freelance Web Developer
            <p>
                <time class="tl-time" datetime="2023-06-18">
                    Jun 2021 - Jun 2022 | Remote
                </time>
        </div>
        <div class="tl-body">
            <p>
            </p>
        </div>
    </div>
</div>
</div>

</div>

