
<div class="bg">

<h1 class="sk text-center">Work Experience</h1><br>
<div class="center" style="height: auto !important;z-index: -1;">

<div class="timeline center">
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Software Developer
            <p>
                <time class="tl-time" datetime="14-04-2025">
                   April 2025 - Present | Pune, Maharashtra | Hybrid
                </time>
        </div>
        <div class="tl-body">
            <p>
              Austrax Technologies India Pvt Ltd(Silicon Stack)

            </p>
        </div>
    </div>
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                System Engineer - Angular Developer
            <p>
                <time class="tl-time" datetime="13-07-2025">
                    July 2022 - Febraury 2025
                </time>
        </div>
        <div class="tl-body">
            <p>
              Tata Consultancy Services Pvt.Ltd
            </p>
        </div>
    </div>
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Wordpress Developer
            <p>
                <time class="tl-time" datetime="2021-04-19">
                    April 2021 - July 2022 | Hybrid
                </time>
        </div>
        <div class="tl-body">
            <p>
               Zelite Solutions Pvt.Ltd
            </p>
        </div>
    </div>
    <!-- <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Java Developer Trainee
            <p>
                <time class="tl-time" datetime="2020-12-07">
                    Nov 2020 - April 2o21 | Remote
                </time>
        </div>
        <div class="tl-body">
            <p>
            </p>
        </div>
    </div> -->
</div>
</div>

</div>

